@import './colors';
@import './fonts';

#black_placeholder::placeholder{
    color: black !important;
}
#white_placeholder::placeholder{
    color: white !important;
}

.create_container{
    height: 100%;
    width: 100%;
    // outline: solid;
    // background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    .create_prompt{
        width: 90%;
        max-width: 400px;
        height: 90%;
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(5px);
        border-radius: 20px;
        padding: 40px 40px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .note_img{
            border-radius: 0px;
            // margin: 5px 0px;
            width: 100%;
            height: 100%;
            // aspect-ratio: 1;
            object-fit: cover;
            position: absolute;
            top: 0px;
            left: 0px;
            opacity: 0.15;
            pointer-events: none;
        }
        .header{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            box-sizing: border-box;
            margin-bottom: 20px;

            .prompt_title{
                margin: 0px;
                background: transparent;
                border-style: none;
                font-size: 25px;
                font-weight: bold;
                font-family: $font;
                width: 80%;
                // height: fit-content;
                overflow-wrap: break-word;
                padding: 0px;
                
                &:focus{
                    outline-style: none;
                }
                &::placeholder{
                    display: flex;
                }
            }
            .prompt_close{
                background: gray;
                color: white;
                border-radius: 50%;
                padding: 3px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .note_text_container{
            margin: 0px;
            background: transparent;
            width: 100%;
            height: 80%;

            .prompt_note_text{
                text-align: start;
                background: transparent;
                border-style: none;
                font-size: 20px;
                font-family: $font;
                width: 100%;
                height: 100%;
                // outline: solid;
                &:focus{
                    outline-style: none;
                }
                padding: 0px;
                resize: none;

            }
            // outline: solid;
            margin-bottom: 20px;

        }
        .save_button{
            background-color: $accent;
            width: fit-content;
            font-size: 14px;
            width: 30%;
            text-align: center;
            padding: 3%;
            border-radius: 50px;
            box-sizing: border-box;
            color: $background;
        }
        // box-sizing: border-box;
    }
    .create_buttons{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        // align-self: flex-end;
        .icon{
            width: 26px;
            height: 26px;
            margin-right: 10px;
            color: $accent;
        }
    }
    box-sizing: border-box;
    // overflow-x: hidden;
    z-index: 3;
}

//add class on component logic to dynamically change placeholder color
.black_placeholder::-webkit-input-placeholder{
    color: black;
}
.white_placeholder::-webkit-input-placeholder{
    color: white;
}