@import "./colors";
@import "./fonts";

.create_container {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(30px);
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    .create_prompt {
        width: 90%;
        max-width: 400px;
        height: 90%;
        background: rgba(20, 20, 20, 0.6);
        backdrop-filter: blur(5px);
        border-radius: 20px;
        padding: 40px 40px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .note_img {
            border-radius: 0px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0px;
            left: 0px;
            opacity: 0.15;
            pointer-events: none;
        }
        .header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            box-sizing: border-box;
            margin-bottom: 20px;

            .prompt_title {
                margin: 0px;
                background: transparent;
                border-style: none;
                font-size: 25px;
                font-weight: bold;
                font-family: $font;
                width: 80%;
                overflow-wrap: break-word;
                padding: 0px;

                color: white;

                &:focus {
                    outline-style: none;
                }
                &::placeholder {
                    display: flex;
                }
            }
            .prompt_close {
                color: $accent;
                border-radius: 50%;
                padding: 3px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .note_text_container {
            margin: 0px;
            background: transparent;
            width: 100%;
            height: 80%;

            .prompt_note_text {
                text-align: start;
                background: transparent;
                border-style: none;
                font-size: 20px;
                font-family: $font;
                width: 100%;
                height: 100%;

                color: white;

                &:focus {
                    outline-style: none;
                }
                padding: 0px;
                resize: none;
            }
            margin-bottom: 20px;
        }
        .save_button {
            background-color: $accent;
            width: fit-content;
            font-size: 14px;
            width: 30%;
            text-align: center;
            padding: 3%;
            border-radius: 50px;
            box-sizing: border-box;
            color: $background;
        }
    }
    .create_buttons {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        .icon {
            width: 26px;
            height: 26px;
            margin-right: 10px;
            color: $accent;
        }
    }
    box-sizing: border-box;
    z-index: 3;
}
