@import './colors';

.image_search_container{
    
    position: fixed;
    height: 100%;
    width: 100%;
    // backdrop-filter: blur(20px);
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 4;
    // box-sizing: border-box;
    overflow: hidden;
    
    .results{
        max-width: 400px;
        backdrop-filter: blur(10px);
        background: rgba(255, 255, 255, 0.7);
        .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .title{
                margin: 0px;
                width: 90%;
                margin-bottom: 10px;
            }
        }

        // background: white;
        padding: 30px 40px;
        width: 90%;
        height: 90%;
        box-sizing: border-box;
        border-radius: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        
        position: relative;

        .searchbar_container{
            // position: fixed;
            height: fit-content;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            // margin-bottom: 20px;

            input{
                background: none;
                border-style: none;
                &:focus{
                    outline: none;
                }
            }
            .searchbar{
                width: 100%;
                margin-bottom: 20px;
            }
            margin-bottom: 20px;
            margin-top: 5%;
        }

        .img_grid{
            display: grid;
            grid-template-columns: 1fr;
            // height: 80%;
            gap: 10px;
            overflow: scroll;
            border-radius: 20px;

            .img_search_item{
                width: 100%;
                height: 100%;
                border-radius: 20px;
            }
        }
    }

}